$ruler: 16px;
$color-red: #AE1100;
$color-green: green ;
$color-shadow: #BABECC;
$color-white: #FFF;
$ball1-shadow: #f8b334;
$ball2-shadow: #97bf0d;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
  }
  
  p {
    position: absolute;
    margin-top: -18px;
    font-size: 13px;
    text-align: center;
    width: 320px;
    color: $color-red;
  }
  
  .wrong-message{
    margin-top: 0;
  }
      
      
      form {
        padding: 6px;
        width: 320px;
        margin: 0 auto;
      button, input {
        border: 0;
        outline: 0;
        font-size: $ruler;
        border-radius: 16px*20;
        padding: 14px;
        background-color:#EBECF0;
        text-shadow: 1px 1px 0 $color-white;
      }
      
      label {
        display: block;
        width: 100%;
      }
      
      input {
        margin-bottom: 20px;
        margin-right: $ruler/2;
        box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;
        -webkit-appearance: none;
        &:focus {
          box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
    }
      
      button {
        font-size: 24px;
        width: 310px;
        color:#61677C;
        font-weight: bold;
        box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;

        
        &:hover {
          box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
        }
        
        &:active {
          box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
        }
    }
  
        textarea {
          resize: none;
          width: 310px;
          height: 200px;
        } 
         .red {
          margin-top: 20px;
          display: block;
          width: 100%;
  
          &:enabled{
            color:$color-green;
          }
        
        &:disabled {
            color:$color-red;
          }
        }
    }
    .loader  {
        position: absolute;
        margin-left: 48%;
        margin-top: 230px;
        animation: rotate 1s infinite;  
        height: 50px;
        width: 50px;
      
        &:before,
        &:after {   
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;  
        width: 20px;
      }
      &:before {
        animation: ball1 1s infinite;  
        background-color: #cb2025;
        box-shadow: 30px 0 0 $ball1-shadow;
        margin-bottom: 10px;
      }
      &:after {
        animation: ball2 1s infinite; 
        background-color: #00a096;
        box-shadow: 30px 0 0 $ball2-shadow;
      }
  }
      
      @keyframes rotate {
        0% { 
          -webkit-transform: rotate(0deg) scale(0.8); 
          -moz-transform: rotate(0deg) scale(0.8);
        }
        50% { 
          -webkit-transform: rotate(360deg) scale(1.2); 
          -moz-transform: rotate(360deg) scale(1.2);
        }
        100% { 
          -webkit-transform: rotate(720deg) scale(0.8); 
          -moz-transform: rotate(720deg) scale(0.8);
        }
      }
      
      @keyframes ball1 {
        0% {
          box-shadow: 30px 0 0 $ball1-shadow;
        }
        50% {
          box-shadow: 0 0 0 $ball1-shadow;
          margin-bottom: 0;
          -webkit-transform: translate(15px,15px);
          -moz-transform: translate(15px, 15px);
        }
        100% {
          box-shadow: 30px 0 0 $ball1-shadow;
          margin-bottom: 10px;
        }
      }
      
      @keyframes ball2 {
        0% {
          box-shadow: 30px 0 0 $ball2-shadow;
        }
        50% {
          box-shadow: 0 0 0 $ball2-shadow;
          margin-top: -20px;
          -webkit-transform: translate(15px,15px);
          -moz-transform: translate(15px, 15px);
        }
        100% {
          box-shadow: 30px 0 0 $ball2-shadow;
          margin-top: 0;
        }
      }
    .success {
        margin-top: -10px;
        text-align: center;
        color: $color-green;
      }
      .error {
        margin-top: -10px;
        text-align: center;
        color: $color-red;
      }
      #date {
        position: relative
      }
      
      #date::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent
      }
      
      #date::-webkit-inner-spin-button,
      #date::-webkit-clear-button {
        z-index: -10
      }
      
      #date::-webkit-input-placeholder {
        z-index: 99
      }
      
      #date:placeholder {
        z-index: 99
      }
      
      #date:before {
        width: 100%;
        content: attr(placeholder)
      }

.date-output {
    color: black;
    font-size: $ruler;
    margin-top: -50px;
    width: 100px;
}